<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add User</h1>
    
    <form action="/users/add" method="POST">
    Username : <input type="text" name='username'><br>
    Age : <input type="text" name='age'><br>
    Email : <input type="text" name='email'><br>
    Password : <input type="text" name='password'><br>
    Salt : <input type="text" name='salt'><br>
    Role : <input type="text" name='role'><br>
    <input type="submit" value="save">
    </form>

</body>
</html>