<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>EDIT DATA GAMES</h1>
  
    <form method="POST" action= <%- '/games/edit/'+_games.id %>  >
        title : <input type="text" name="title" id="" value= <%- _games.title %> > <br>
        genre : <input type="text" name="genre" id="" value= <%- _games.genre %> > <br>
        price : <input type="text" name="price" id="" value= <%- _games.price %> > <br>
        <input type="submit" value="EDIT">
    </form>
    
</body>
</html>