


<form action="/games/filter" method="POST">
    <select name="Genre" id="">
        <option value="bla1">bla1</option>
        <option value="bla2">bla2</option>
        <option value="bla2">bla2</option>
    </select>
    <input type="submit" value="filter">
</form>

<%- filter %>