<div class="alert alert-warning" role="alert" id='alert'>
        <% if (typeof errors !== 'undefined') { %>
                <p style="color: red"><%= errors.message %></p>
        <% } %>               
</div>